@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f4fefe;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.screen {
  height: 6rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  margin:2;
  width: 100;
  border-radius: 0.65rem;
  
  --x: 50%;
	--y: 50%;
	border: 3px transparent;
  border-style:ridge;
	background: linear-gradient(rgb(255, 255, 255), #F1F2F3) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #f50b0b, #845EC2) border-box;
  
}

.wrapper {
  background: #8dbed6;
  width: 20rem;
  height: 35rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0px 9px 15px -3px rgba(0,0,0,0.1);
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.button {
  background: #e9f0f4;
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #302f2f;
  font-weight: 400;
  border: none;
  font-size: 1.5rem;
}

.button:hover {
  border: 2px inset #672aa0;
  
}


.equals {
  background:rgb(11, 180, 11);
  
}
.del {
  background: #EA0D01;
  
}
.opt {
  background:rgba(255, 68, 0, 0.788);
}